* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,0,0,1) 61%, rgba(163,0,0,1) 100%);
    color: azure;
}
main {
    width: 88%;
    margin: auto;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,0,0,1) 100%, rgba(83,0,0,1) 100%);
    border-radius: 3px;
    box-shadow: 50px 40px 50px black;
    padding: 28px;
}

header {
    display: flex;
    background: linear-gradient(90deg, rgba(108,18,102,1) 0%, rgba(112,120,230,1) 61%, rgba(57,0,80,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(80,0,0,1) 61%, rgba(163,0,0,1) 100%);
    flex-direction: row;
    justify-content: space-between;
}

header nav ul {
    display: flex; 
    justify-content: space-between;
}

header nav li {
    list-style: none;
    margin: auto;
}
header nav a,  header nav li{
    padding: 10px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

header nav a:hover,  header nav li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}
header nav a {
    text-decoration: none;
    color: azure;
}
.aboutMe {
    margin: 0px 0px 100px 0;
}

.content {
    display: flex;
}

.content img {
    width: 450px;
}

.projectPicture, .projectDescription {
    margin: 30px;
    height: fit-content;
}
